<div class="container">

  <!-- 
  <div class="input-group flex-nowrap">
    <div class="input-group-prepend">
      <span class="input-group-text" id="addon-wrapping">formula</span>
    </div>
    <input type="text" class="form-control" placeholder="escriba la formula matematica" aria-label="Username"
      aria-describedby="addon-wrapping" [(ngModel)]="formula">
    <button class="btn btn-outline-primary mr-2 " (click)="calcular()">calcular</button>
    <button class="btn btn-dark mr-2" (click)="retroceso()">
      <-</button> <button class="btn btn-danger mr-2" (click)="limpiar()">AC
    </button>
  </div>

  <br>
  <h4>Resultado= {{Resultado}}</h4>

  <hr>
  <br><br> -->

  <div class="row container center  ">
    <div class="col-12 bodercalculadora pt-2">
      <div class="row mb-2">
        <div class="col-9">
          <textarea class="display"
            [ngClass]="{'fondo1': !error, 'fondo2':error}" rom="2">{{display}}
          </textarea>
        </div>
        <div class="col-3  ">
          <button class="btn btn-primary boton" (click)="cambiarpanel()">His</button>
          <button class="btn btn-primary boton" (click)="cambiar()">{{nombre}}</button>

        </div>


      </div>
      <div class="row mb-2">
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('.')">.</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('/')">/</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="AC()">AC</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="C()">C</button>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('7')">7</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('8')">8</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('9')">9</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('*')">*</button>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('4')">4</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('5')">5</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('6')">6</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('-')">-</button>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('1')">1</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('2')">2</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('3')">3</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('+')">+</button>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('(')">(</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar(')')">)</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('0')">0</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-Dark calculado border-secondary" (click)="calcu()">=</button>
        </div>
      </div>
      <div class="STD" textarea name="" id="" class="STD">
        <div *ngIf="tipo">
          <div class="row md-2 ">
            <div class="col-">
              <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('%')">%</button>
            </div>
            <div class="col-3">
              <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('π')">π</button>
            </div>
            <div class="col-3">
              <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('mod')">mod</button>
            </div>
            <div class="col-3">
              <button class="btn btn-outline-Dark calculado border-secondary" (click)="mostrar('±')">±</button>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>