<div class="container">
    <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">formula</span>
        </div>
        <input type="text" class="form-control"
         placeholder="escriba la formula matematica"aria-label="Username"
         aria-describedby="addon-wrapping"[(ngModel)]="formula">
        <button class="btn btn-info"(click)="calcular()">calculadora</button>
        <button class="btn btn-dark ml-3" (click)="retroceso()"><-</button>

      </div>
    
    <br>
    <h4>resultado={{resultado}}</h4>


</div>
